.about {
  padding-bottom: 25rem;
  background-color: #f7f7f7;
  margin-top: -20vh;
      grid-template-areas: ". . . ." "about-primary-title-div about-primary-title-div about-primary-title-div about-primary-title-div" "... about-description about-images-container ...";
  -ms-grid-rows: 18vh;
      grid-template-rows: 18vh;
  grid-column-gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-primary-title {
  padding: 0 1rem;
  text-align: center;
  font-size: 2.1875rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-size: cover;
  color: transparent;
  letter-spacing: 0.125rem;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-background-clip: text;
}

.about-primary-title:hover {
  -webkit-transform: skew(15deg, 2deg) scale(1.1);
          transform: skew(15deg, 2deg) scale(1.1);
  text-shadow: 10px 10px 1rem rgba(0, 0, 0, 0.1);
}

.about-primary-title-div {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: about-primary-title-div;
  padding-top: 7rem;
  margin: 0 auto;
}

.about-description {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: about-description;
  margin-top: 4rem;
}

.about-description-container {
  margin-bottom: 2rem;
}

.about-description-container > * {
  font-size: 1rem;
}

.about-images-container {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: about-images-container;
  margin-top: 4rem;
  height: 0;
}

.about-images-container-img {
  width: 54.44%;
  position: absolute;
  -webkit-box-shadow: 1.5rem 2rem 5rem rgba(0, 0, 0, 0.4);
          box-shadow: 1.5rem 2rem 5rem rgba(0, 0, 0, 0.4);
  -webkit-transition-property: z-index, outline, -webkit-transform, -webkit-box-shadow;
  transition-property: z-index, outline, -webkit-transform, -webkit-box-shadow;
  transition-property: transform, z-index, outline, box-shadow;
  transition-property: transform, z-index, outline, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.about-images-container-img:hover {
  -webkit-transform: scale(1.1) translateY(-2px);
          transform: scale(1.1) translateY(-2px);
  z-index: 1;
  outline: 0.9375rem solid #55c57a;
  outline-offset: 1.25rem;
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}

.about-images-container-img2 {
  top: 2.7rem;
  right: 0;
}

.about-images-container-img3 {
  top: 6rem;
  left: 20%;
}

@media (min-width: 901px) {
  .about-images-container:hover .about-images-container-img:not(:hover) {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 900px) {
  .about {
        grid-template-areas: ". . ." "about-primary-title-div about-primary-title-div about-primary-title-div" "... about-description ..." "... about-images-container ...";
  }
  .about-description, .about-images-container {
    margin: 2rem 0;
  }
  .about-description-img, .about-images-container-img {
    position: static;
    width: 40%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .about-description-img:hover, .about-images-container-img:hover {
    -webkit-transform: translateY(-2px) scale(1.1);
            transform: translateY(-2px) scale(1.1);
    z-index: 10;
  }
  .about-description-img2, .about-images-container-img2 {
    position: absolute;
    top: -15px;
    right: 50%;
    z-index: 5;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .about-description-img2:hover, .about-images-container-img2:hover {
    -webkit-transform: translateX(50%) scale(1.1);
            transform: translateX(50%) scale(1.1);
  }
  .about-images-container {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-primary-title {
    font-size: 1.85rem;
    letter-spacing: 1.6px;
    max-width: 48rem;
  }
  .about-primary-title-div {
    padding-top: 3rem;
  }
}

.hoverClass {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.hoverClassImg2 {
  -webkit-transform: scale(0.9) translateX(50%);
          transform: scale(0.9) translateX(50%);
}
/*# sourceMappingURL=About.css.map */