.testimonials {
  position: relative;
      grid-template-areas: "testimonial-primary-title-div testimonial-primary-title-div testimonial-primary-title-div testimonial-primary-title-div" "... testimonials-1 testimonials-1 ..." "... testimonials-2 testimonials-2 ..." "... read-stories-btn read-stories-btn ...";
}

.testimonials-background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.15;
}

.testimonials-primary-title-div {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: testimonial-primary-title-div;
  padding-bottom: 3rem;
}

.testimonials-container-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: testimonials-1;
}

.testimonials-container-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: testimonials-2;
}

.testimonials-container {
  padding: 3rem;
  max-width: 53.4375rem;
  margin: 0 auto;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.testimonials-container > * {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.testimonials-container-wrapper-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-property: -webkit-transform, -webkit-filter;
  transition-property: -webkit-transform, -webkit-filter;
  transition-property: transform, filter;
  transition-property: transform, filter, -webkit-transform, -webkit-filter;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-filter: blur(0) brightness(100%);
          filter: blur(0) brightness(100%);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.testimonials-container-wrapper-img-container {
  position: relative;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  margin-bottom: 0.3rem;
}

.testimonials-container-wrapper-img-caption {
  position: absolute;
  width: 50%;
  top: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-align: center;
  -webkit-transition-property: opacity, -webkit-transform, -webkit-filter;
  transition-property: opacity, -webkit-transform, -webkit-filter;
  transition-property: transform, filter, opacity;
  transition-property: transform, filter, opacity, -webkit-transform, -webkit-filter;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  font-size: 1.04em;
}

.testimonials-container-text-wrapper {
  -webkit-transform: translateX(2rem) skewX(12deg);
          transform: translateX(2rem) skewX(12deg);
  margin-right: 5%;
}

.testimonials-container-text-wrapper-header {
  font-size: 1rem;
  font-weight: 700;
}

.testimonials-container-text-wrapper-text {
  font-size: 1rem;
}

.testimonials-container {
  margin-bottom: 4rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}

.testimonials-container:hover figcaption {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.testimonials-container:hover .testimonials-container-wrapper-img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(2px) brightness(80%);
          filter: blur(2px) brightness(80%);
}

.read-stories-btn {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: read-stories-btn;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 5rem;
}

@media (max-width: 950px) {
  .testimonials-container {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .testimonials {
    -ms-grid-columns: minmax(1rem, 1fr) minmax(0px, 42rem) minmax(1rem, 1fr);
        grid-template-columns: minmax(1rem, 1fr) minmax(0px, 42rem) minmax(1rem, 1fr);
        grid-template-areas: "testimonial-primary-title-div testimonial-primary-title-div testimonial-primary-title-div" "... testimonials-1 ..." "... testimonials-2 ..." "... read-stories-btn ...";
  }
  .testimonials-container {
    -webkit-transform: skewX(-8deg);
            transform: skewX(-8deg);
  }
  .testimonials-container > * {
    -webkit-transform: skewX(8deg);
            transform: skewX(8deg);
  }
  .testimonials-container-text-wrapper {
    -webkit-transform: translateX(2rem) skewX(8deg);
            transform: translateX(2rem) skewX(8deg);
  }
}

@media (max-width: 640px) {
  .testimonials {
    -ms-grid-columns: minmax(1rem, 1fr) minmax(0px, 28rem) minmax(1rem, 1fr);
        grid-template-columns: minmax(1rem, 1fr) minmax(0px, 28rem) minmax(1rem, 1fr);
  }
  .testimonials-container {
    width: 100%;
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  .testimonials-container > * {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  .testimonials-container-text-wrapper {
    -webkit-transform: translateX(1rem) skewX(0deg);
            transform: translateX(1rem) skewX(0deg);
    margin-right: 0;
  }
}
/*# sourceMappingURL=Testimonials.css.map */